<link rel="stylesheet" href="/public/stylesheets/main.css">
  
        <%   if(currentUser){ %>
    <a class="nav-link text-right" href="#">
      <h2 id="navbar" >Signed in as <%= currentUser.username %> </h2>
    </a>

    <% } %>


</body>

</html>