<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">


</head>

<body>

  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark" style="background-color: #cfceca;">



    <ul class="navbar-nav">
      <a class="navbar-brand" href="/">
        <h2>Home</h2>
      </a>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">
          <h2>Gallery</h2>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="/about">
          <h2>About Me</h2> <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>

    <ul class=" navbar-nav ml-auto">
      <ul class="nav navbar-nav navbar-right">


          
        <%   if(!currentUser){ %>

          <li class="nav-item">
            <a class="nav-link" href="/login">
              <h2> Log In %> </h2>
            </a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" href="/register">
              <h2>Sign Up %> </h2>
            </a>
          </li> -->

        <%   }else{ %>
        <li class="nav-item">
          <a class="nav-link" href="/new">
            <h2>New Posts %> </h2>
          </a>
        </li>

      
        <li class="nav-item">
          <a class="nav-link" href="/logout">
            <h2>Log Out </h2>
          </a>
        </li>
        <%   } %>


      

      </ul>







  </nav>