<% include ./partials/header.ejs %>



<div class="container">
    <div class="row">
            <h1 id="aboutH1"> 
                    Mia Johannesson 
                </h1>
<img id="aboutme" src="https://scontent.fgse1-1.fna.fbcdn.net/v/t1.0-9/66434944_10211942504438443_333633411740598272_n.jpg?_nc_cat=100&_nc_oc=AQmC5AB3SjWaBKXK8Rid2gfnkTsiYDYhC6uTQfDjDoAPgCIrUALorXGSm9lD_vvAUKM&_nc_ht=scontent.fgse1-1.fna&oh=5b6017f61f75dd2d03fa18bbe41cfd00&oe=5DD30F9F" alt="">

<p id="aboutText">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue porta risus a finibus. Vestibulum efficitur sapien mi, vel placerat velit molestie quis. Mauris rutrum neque vitae dui vestibulum rutrum sit amet ut velit. Proin a lacinia leo, vel sollicitudin purus. Integer sollicitudin, lacus quis semper ultrices, urna diam fringilla urna, ut posuere diam ex eget enim. Vestibulum eu tortor arcu. In bibendum vitae ex sed congue. Maecenas commodo ornare nisl aliquet ultrices. Aliquam ac lacus sapien. Nunc felis nibh, sodales ut convallis sed, efficitur varius quam. Nullam quis gravida nisi.
 </p>
</div>
</div>
<% include ./partials/footer.ejs %>