<% include ../partials/header %>
<div class="container">
    <div class="row">

        <div class="col-md-9"></div>
            <div class="thumbnail">

                <img class="img-fluid rounded mx-auto d-block" src="<%= posts.image %>">
                
                   
                <p><%= posts.description %></p>

                <%   if(currentUser){ %>
                 
                        <div class="text-center">
                    <form id="delete-form" action="/posts/<%= posts._id %>?_method=DELETE" method="POST">
                        <a class="ui big yellow basic button" href="/posts/<%= posts._id%>/edit"> Edit</a>
                        <button class="ui big red basic button"> Delete</button>

                    </form>
                </div>

                    <% } %>

                </div>
            </div>

        </div>
    </div>




<% include ../partials/footer %>